.login_panel{
	width: 580px;
	margin: auto;
	top: 50%;

}

.wizard_panel{
	width: 580px;
	margin: auto;
	top: 50%;

}

.logo_large{
	margin: auto;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 30px;
}

.login_panel .modal-content{
	background: linear-gradient(to top, #FFFFFFFF, #FFFFFFA0);
}

