body{
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #000000;
	position:relative;
}

.login_panel_vertical_central{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -100px;
}
